.submitDiv {
  background-color: rgba(255, 255, 255, 0.1);
  width: 30%;
  margin: auto;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 17px 16px 6px -10px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 800px) {
  .submitDiv {
    width: 70%;
  }
}

hr {
  width: 90%;
  border: 0;
  height: 1px;
  background: #f1faee;
  margin-top: 10px;
  margin-bottom: 5px;
}

.gemBox {
  width: 75px;
}

.choices {
  padding-bottom: 20px;
}

.option {
  background-color: grey;
}

.gameToggle {
  position: relative;
  top: 6px;
}

.everything {
  display: flex;
  justify-content: center;
}

h3 {
  fontsize: 10rem;
  color: #f1faee;
}

.storySelect {
  width: 80%;
}
