.App {
  text-align: center;
}

button {
  background: #F7971E;
  background-image: linear-gradient(to bottom, #ff00cc, #333399);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
	font-family: 'PT Sans', sans-serif;
  color: #ffffff;
  font-size: 15px;
  padding: 8px 20px 9px 20px;
  text-decoration: none;
}

button:hover {
  text-decoration: none;
}