body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  color: white;
  background: linear-gradient(89deg, #00d2ff 0%, #3a7bd5 100%)
}

.infoBox {
    position: absolute;
    bottom: 30px;
    right: 30px;
}