.gemBox {
	width: 75px;
}

.choices {
	padding-bottom: 20px;
}

.option {
	background-color: grey;
}

.projections {
  	background-color: #7106FF;
	width: 25%;
	margin: auto;
	padding: 10px;
	padding-top: 2px;
	margin-top: 10px;
	border-radius: 15px;
}

.gameToggle {
	position: relative;
	top: 6px;
}

@media screen and (max-width: 850px) {
    .projections {
       	width: 400px;
    }
}

@media screen and (max-width: 600px) {
    .projections {
       	width: 70%;
    }


    .gameToggle {
	position: relative;
	top: 2px;
	}
}

.everything {
	display: flex;
	justify-content: center;
}

h3 {
	font size: 10rem;
}